@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  padding: 14px 28px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

@mixin section-title {
  font-size: 58px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
