.about {
  padding: 90px 42px 100px;
  background-color: $color-light;

  &__wrapper {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 90px;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__tab {
    padding: 26px 20px;
    border: none;
    border-top: 1px solid rgb(46 91 34 / 45%);
    background-color: transparent;
    color: $color-dark;
    font-size: 32px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      transform: translateX(8px);
    }
  }

  &__tab--active {
    border-radius: 8px;
    background-color: $color-dark;
    color: $color-white;
  }

  &__content {
    min-height: 220px;
    padding-left: 45px;
    border-left: 1px solid rgb(46 91 34 / 45%);
  }

  &__content-title {
    margin-bottom: 24px;
    font-size: 34px;
  }

  &__content-text {
    max-width: 650px;
    font-size: 32px;
    line-height: 1.12;
  }
}
